
html {
	margin:0;
	padding:0;
} 

body {
	
	background: #323232;
    color: #EE4032;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
}

img
{
	border: 0px;
}

.center-container {
  position: relative;
}


.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
