/* ====== default setup ====== */

html {
	margin:0;
	padding:0;
} 

body {
	font-family: "Trebuchet MS", Geneva, sans-serif;
	background: #FFFFFF;
	color: #000000;
	width:100%;
	/*height:100%;*/
	margin:0;
	padding:0;
	text-align:center;
}

img
{
	border: 0px;
}

/* to use as float clearer */
br.clearer {
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    clear: both;
    display: block;
    /*visibility: hidden;*/
}
span
{
	width: 500px;
}



/* ========================================================= */

/* ====== boxRoot layer ====== */

#boxRoot {
	width: 950px;
	margin: 50px auto;
	padding: 0px;
	display:block;
	text-align:left;
	/*border:  1px solid pink;*/
}


/* ========================================================= */

/* ====== boxHeader layer ====== */

#boxHeader {
	height:135px;
	margin: 0px;
	padding: 0px;
	background: url(../img/interface/headerTopBack.gif) repeat-x 0px 0px;
	/*border: 1px solid black;*/
}

/* ====== subHeader objects ====== */

#subHeaderLogo { 
	margin: 0px;
	padding: 45px 0px 0px 20px;
	background: url(../img/interface/headerTopLeft.gif) no-repeat 0px 0px;
	display: block;
	/*border: 1px solid pink;*/
}

#subHeaderMission { 
	float:right;
	margin: 0px;
	padding: 90px 15px 0px 0px;
	background: url(../img/interface/headerTopRight.gif) no-repeat 90px 0px;
	display: block;
	/*border: 1px solid maroon;*/
}


/* ========================================================= */

/* ====== boxMain layer ====== */

#boxMain {
	margin: 0px;
	padding: 0px;
	background: url(../img/interface/mainBorderLeft.gif) repeat-y 0px 0px;
	/*border:  1px solid blue; */
}


/* ========================================================= */

/* ====== subMainMenu classes ====== */

#subMainMenu {
	width:185px;
	margin: 0px;
	padding: 0px;
	float:right;
	/*border: 1px solid magenta;*/
}

#subMainMenu .isMenuItem {
	margin-bottom: 15px;
}


/* ========================================================= */

/* ------ subMainTitle classes ------ */

#subMainTitle {
	width:60px;
	margin: 50px 0px 0px 0px;
	padding: 15px 0px 15px 0px;
	float:left;
	background: #FFFFFF;
	/*border: 1px solid cyan;*/
}


/* ====== subMainFrame classes ====== */

#subMainFrame
{
	margin: 0px 210px 0px 60px;
	padding: 0px 60px 20px 60px;
	background: url(../img/interface/mainBorderRight.gif) repeat-y right top;
	/*border: 1px solid gray;*/
}


/* ------ subMainContent classes ------ */

#subMainContent {
	margin: 0px;
	padding: 25px 0px 0px 0px;
	/*border: 1px solid red;*/
}


#subMainContent h1
{
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

#subMainContent h2 {
	margin: 5px 0px 20px 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #333333;
}

#subMainContent p, #subMainContent ul {
	margin:0px;
	padding:0px;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	color: #333333;
}

#subMainContent p strong
{
	font-size:13px;
}

#subMainContent ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#subMainContent ul li {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 10px;
	list-style-type: none;
	background: url(../img/bullet.gif) no-repeat 0px 2px;
}

#subMainContent .isPhotoRight  {
 	margin: 0px 0px 20px 20px;
	padding: 0px;
	float: right;
/*	border: none;*/
}

#subMainContent .isPhotoLeft  {
 	margin: 0px 20px 20px 0px;
	padding: 0px;
	float: left;
	/*border: left;*/
}

#subMainContent img#subMainContentPhoto
{  
	
	margin: 0px 20px 0px 20px;
	width:230px; 
	height:350px;
	margin: 0px 0px 20px 50px;
	padding: 0px;
	float:right;
	
	/*border:1px solid lime;*/
	/*border: #FCCDE5 5px solid; */
}




/* ------ subMainContent links ------ */

#subMainContent p a:link, #subMainContent p a:visited {
	color: #87CEE0;
	text-decoration: underline;
	font-weight: bold;
}

#subMainContent p a:hover, #subMainContent p a:active {
	color: #FFFFFF;
	background-color: #87CEE0;
	text-decoration: none;
	font-weight: bold;
}

#subMainContent a:link, #subMainContent a:visited {
	color: #87CEE0;
	text-decoration: underline;
	font-weight: bold;
}

#subMainContent a:hover, #subMainContent a:active {
	color: #FFFFFF;
	background-color: #87CEE0;
	text-decoration: none;
	font-weight: bold;
}




/* ------ subMainExtra classes ------ */

#subMainExtra {
	margin: 0px;
	padding: 25px 0px 0px 0px;
	/*border: 1px solid yellow;*/
}

#subMainExtraNews {
	padding: 0px;
	margin-top: 40px;
}

#subMainExtraBlog {
	
	padding: 0px;
}

#subMainExtra h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

#subMainExtra p, #subMainExtra ul, #subMainExtra span {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	color: #333333;
	font-style:italic;
}

#subMainExtra ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


#subMainExtraBlog ul li {
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
	background: url(../img/bullet.gif) no-repeat 0px 3px;
}



#subMainExtraNews p {
	margin-bottom: 20px;
}

#subMainExtraNews span#subMainExtraNewsButt {
	display: block;
}

/* ------ subMainExtra links ------ */

#subMainExtra p a:link, #subMainExtra p a:visited {
	color: #87CEE0;
	text-decoration: underline;
	font-weight: bold;
}

#subMainExtra p a:hover, #subMainExtra p a:active {
	color: #FFFFFF;
	background-color: #87CEE0;
	text-decoration: none;
	font-weight: bold;
}

#subMainExtra a:link, #subMainExtra a:visited {
	color: #87CEE0;
	text-decoration: underline;
	font-weight: bold;
}

#subMainExtra a:hover, #subMainExtra a:active {
	color: #FFFFFF;
	background-color: #87CEE0;
	text-decoration: none;
	font-weight: bold;
}



/* ========================================================= */

/* ====== boxFooter layer ====== */

#boxFooter {
	margin: 0px;
	padding: 0px;
	clear:both;
	display: block;
	background: url(../img/interface/footerTopBack.gif) repeat-x 0px 0px;
	/*border: 1px solid green;*/
}

/* ====== boxFooter text style ====== */

#boxFooter .isCopyrigth {
	width: 250px;
	height: 60px;
	padding: 0px 0px 0px 0px;
	float:right;
	font-size: 10px;
	color: #FCCEE6;
	text-align: right;
	background: url(../img/interface/footerTopRight.gif) no-repeat 0px 0px;
	margin:0px;
	/*border: 1px solid cyan;*/
}

#boxFooter .isFooter
{
	margin: 0px;
	padding: 60px 0px 0px 170px;
	font-size: 10px;
	color:  #FCCEE6;
	text-align: left;
	background: url(../img/interface/footerTopLeft.gif) no-repeat 0px 0px;
	/*border: 1px solid lime;*/
}

#boxFooter .FooterImage {
	margin: 0px 10px;
	border: none;
}

/* ====== boxFooter link style ====== */

#boxFooter .isFooter a:link, #boxFooter .isFooter a:visited {
	color: #333333;
	text-decoration: none;
}

#boxFooter .isFooter a:hover, #boxFooter .isFooter a:active {
	color: #333333;
	text-decoration: underline;
}
	
/* ===== Portfolio ===== */
#subMainContent ul.lstPortfolio {
	margin: 5px 0px 10px 0px;
	padding: 0px;
	list-style-type: none;
}

#subMainContent ul.lstPortfolio li {
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
	background: url(../img/bullet.gif) no-repeat 0px 3px;
}

/* ===== Bio ===== */
#subMainContent ul.lstBio {
	margin: 5px 0px 10px 0px;
	padding: 0px;
	list-style-type: none;
}

#subMainContent ul.lstBio li {
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
	background: url(../img/bullet.gif) no-repeat 0px 3px;
}


/* menu nascosto*/
div#altMenu
{
	display:none;
}

#teamArea
{
	width:540px;	
	height: 120px;
}


#prodotti
{
	width: 250px;
}

#foto
{
	float:left;
	margin: 0px 10px 10px 0px;
}

#customerList 
{
	width: 560px;
}
#customerList UL
	{
		
	}
	
#customerList img
{
	border: solid 5px #87CEE0;
	float: left;
	margin: 10px 10px 0px 0px;
}
	
#customerList UL LI
{
	background:none;
	margin:0px 0px 30px 0px;
	padding:0px;
	list-style-type: none;
	float:left;
	width:49%;
}

#customerList ul li p
{
	margin-top: -20px;
	margin-left:90px;
	font-size: 12px;
	margin-top: 10px;
	padding-top:20px;
	text-align:left;
}

#tagCloud 
{
	text-align:center;
}

#tagCloud .tagCloud-1
{
	font-size:12px;
	color:#87CEE0;
}

#tagCloud .tagCloud-2
{
	font-size:16px
}

#tagCloud .tagCloud-3
{
	font-size:20px
}

#tagCloud .tagCloud-4
{
	font-size:24px
}

#tagCloud .tagCloud-5
{
	font-size:28px
}
#tagCloud .tagCloud-6
{
	font-size:36px
}

#tagCloud a.altcol
{
	color: #EF037F;
	
	
}


#subMainExtraNews div ul li .notes
{
	font-size: 10px;
	color: #C0C0C0;
}

.personalLinks
{
	margin-top: 10px;
	margin-bottom: 20px;
}

#subMainContent ul #contacts
{
	margin-top: 30px;
	margin-bottom:30px;
}


#teamArea ul li
{
	background:none;
	margin:0px 0px 30px 0px;
	padding:0px;
	list-style-type: none;
	float:left;
	width:49%;
}

#teamArea ul li p
{
	margin-top: -20px;
	margin-left:90px;
	font-size: 12px;
	margin-top: 10px;
	padding-top:20px;
	text-align:left;
}