<!DOCTYPE html>
<html>
{{> ../partials/head }}

<body>
  {{> ../partials/header }}
  <div id="main" class="container">
    <header id="blog-header">
      <h1>
        Blog Archive
      </h1>
    </header>
    <div id="posts">
      <img id="loader" src="/assets/images/loader.gif" alt="">
    </div>
    <script type="text/html" id="post_tmpl">
      <article class="post">
        <span class="post-date">
          <%=date%>
        </span>
        <header class="post-content">
          <h1>
            <a href='<%=url%>'>
              <%=title%>
            </a>
          </h1>
          <h2>
            Posted by <%=author%>
          </h2>
        </header>
      </article>
    </script>
    {{> ../partials/call-to-action }}
  </div>
  {{> ../partials/footer }}
</body>

</html>
