<div id="footer-block">
	<footer id="footer" class="container">
		<div id="footer-content">
			<div id="footer-logo"></div>
			CodicePlastico - P.IVA <a href="">03079830984</a> - via Branze 45, 25123 Brescia - Tel +39 030 6595241
		</div>
	</footer>
</div>
<!--
<script type='text/javascript'>
  domain = 'http://codiceplastico.com'
</script>
<script type='text/javascript' src='/assets/jquery.min.js'></script>
<script type='text/javascript' src='/assets/build.js'></script>
-->
