<div class="team-member-picture {{extraClass}}">
    <div class="instructions">
      <span>
        Tap to start transformation!
      </span>
    </div>
    <div class="normal-container">
      <img class="img-responsive" src="/assets/images/team/{{member.images.standard}}" alt="">
    </div>
    <img class="img-responsive superhero" src="/assets/images/team/{{member.images.super}}" alt="">
  </div>
